<h1 mat-dialog-title><i class="fa fa-heart text-danger mr-4"></i>Que bom que gostou!</h1>
<div mat-dialog-content>

    <strong>Deixe sua opinião (opcional):</strong>
    <span>A sua opinião não será publicada</span>
    <br>
    <textarea placeholder="Escreva aqui..." [(ngModel)]="opinion"></textarea>

    <br><br>

    <strong>Classifique em relação ao ganho que você terá com esta sugestão:</strong>
    <br>

    <strong class="mb-3">Diminuição de suporte:</strong>
    <div class="row text-center">
      <div class="col text-danger" (click)="select('diminuicao-suporte*bad', 'diminuicao-suporte')">
        <i class="clickeable fal fa-frown fa-4x diminuicao-suporte" id="diminuicao-suporte*bad"></i>
      </div>
      <div class="col text-warning" (click)="select('diminuicao-suporte*meh', 'diminuicao-suporte')">
        <i class="clickeable fal fa-meh fa-4x diminuicao-suporte" id="diminuicao-suporte*meh"></i>
      </div>
      <div class="col text-success" (click)="select('diminuicao-suporte*top', 'diminuicao-suporte')">
        <i class="clickeable fal fa-grin fa-4x diminuicao-suporte" id="diminuicao-suporte*top"></i>
      </div>
    </div>

    <br><br>

    <strong class="mb-3">Automação de processo:</strong>
    <div class="row text-center">
      <div class="col text-danger" (click)="select('automacao-processo*bad', 'automacao-processo')">
        <i class="clickeable fal fa-frown fa-4x automacao-processo" id="automacao-processo*bad"></i>
      </div>
      <div class="col text-warning" (click)="select('automacao-processo*meh', 'automacao-processo')">
        <i class="clickeable fal fa-meh fa-4x automacao-processo" id="automacao-processo*meh"></i>
      </div>
      <div class="col text-success" (click)="select('automacao-processo*top', 'automacao-processo')">
        <i class="clickeable fal fa-grin fa-4x automacao-processo" id="automacao-processo*top"></i>
      </div>
    </div>

    <br><br>

    <strong class="mb-3">Aumento de produtividade:</strong>
    <div class="row text-center">
      <div class="col text-danger" (click)="select('aumento-produtividade*bad', 'aumento-produtividade')">
        <i class="clickeable fal fa-frown fa-4x aumento-produtividade" id="aumento-produtividade*bad"></i>
      </div>
      <div class="col text-warning" (click)="select('aumento-produtividade*meh', 'aumento-produtividade')">
        <i class="clickeable fal fa-meh fa-4x aumento-produtividade" id="aumento-produtividade*meh"></i>
      </div>
      <div class="col text-success" (click)="select('aumento-produtividade*top', 'aumento-produtividade')">
        <i class="clickeable fal fa-grin fa-4x aumento-produtividade" id="aumento-produtividade*top"></i>
      </div>
    </div>

</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="evaluation">Enviar</button>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>
