<h1 mat-dialog-title><i [ngClass]="data.icon" class="mr-4"></i>{{ data.title }}</h1>
<div mat-dialog-content>

    <strong>Deixe sua opinião (opcional):</strong>
    <span>A sua opinião não será publicada</span>
    <br>
    <textarea placeholder="Escreva aqui..." [(ngModel)]="opinion" maxlength="140"></textarea>
    <span class="text-right">{{ opinion.length }} / 140</span>

    <br><br>

    <app-emote question="Você acha que esta solução pode nos ajudar a diminuir o suporte?" (evaluation)="diminuicaoSuporte = $event"></app-emote>

    <br><br>

    <app-emote question="Você acha que esta solução pode ajudar a automatizar algum processo?" (evaluation)="automacaoProcesso = $event"></app-emote>

    <br><br>

    <app-emote question="Você acha que esta sugestão pode lhe ajudar a aumentar a produtividade?" (evaluation)="aumentoProdutividade = $event"></app-emote>


</div>
<div mat-dialog-actions class="d-block">
  <button mat-button (click)="vote()" class="btn btn-primary float-right">Enviar</button>
  <button mat-button (click)="onNoClick()" class="btn btn-secondary float-right">Cancelar</button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>
