/*
DEFAULT PROPERTIES
*/

section {
  overflow: auto;
  height: calc(100vh - 70px);
  margin: 0;
}

#product-container {
  background-color: #E9ECEF;
  margin-bottom: 0;
}

#suggestion-container {
  margin-top: 0;;
  background-color: #F8F9FA;
  border: solid 1px #E7E7E7;

  button {
    border: solid 1px;
    border-radius: 5px;
  }

  #desabafo {
    background-color: #FAFAFA;
    border-color: #C7C7C7;
    color: #777777;
  }

  #sugestao {
    background-color: #1976D2;
    border-color: #1976D2;
    color: white;
  }
}

.orderBy {
  border: none;
  height: 90%;
  font-size: 16px;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 3px 10px 1px rgba(0, 0, 0, .2);
  width: 300px;
  text-align: left;
  padding-left: 30px;
  user-select: none;
}

/*
MOBILE SIZING
*/

@media (max-width: 767px) {

  .buttons {
    position: sticky;
    top: 0;
    z-index: 8;
  }

  .orderBy {
    display: none;
  }

  #product-container span {
    font-size: 110%;
    margin: 2%;
  }

  #suggestion-container {

    button {
      width: 100%;
      min-height: 30px;
      margin: 13px;
    }

    #desabafo {
      margin-right: 6px;
    }

    #sugestao {
      margin-left: 6px;
    }

  }

}

/*
DESKTOP SIZING
*/

@media (min-width: 768px) {


  #product-container span {
    font-size: 110%;
    margin: 2vh;
  }

  #suggestion-container {

    button {
      width: 100%;
      min-height: 50px;
      margin: 18px;
    }

    #desabafo {
      background-color: white;
      margin-right: 9px;
    }

    #sugestao {
      margin-left: 9px;
    }

  }

}



.new-post {
  position: fixed;
  bottom: 20px;
  right: 40px;
  font-size: 150%;
  color: rgb(25, 210, 170);
  transition: 200ms;

  &:hover {
    transform: scale(1.1);
  }
}

.new-post-sugestao {
  position: fixed;
  bottom: 110px;
  right: 40px;
  font-size: 150%;
  color: white;
  background-color: #1976D2;
  transition: 200ms;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: solid 2px #1976D2;

  i {
    margin: 25% 30% 20% 18%;
  }

  &:hover {
    transform: scale(1.1);
  }
}


.new-post-desabafo {
  position: fixed;
  bottom: 20px;
  right: 120px;
  font-size: 150%;
  color: white;
  background-color: red;
  transition: 200ms;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: solid 2px red;

  i {
    margin: 25% 20% 20% 25%;
  }

  &:hover {
    transform: scale(1.1);
  }
}

