<div class="row w-100 m-0 p-2 pl-4" id="product-container">
  <div class="col-4"><span class="float-left">{{ product }}</span></div>
  <div class="col-4"></div>
  <div class="col-4">
    <div class="float-right orderBy clickeable" (click)="sortBy()">
      <i class="fa fa-sort-alpha-up-alt mr-2"></i>
      Ordenar por: {{ sortingType }}
    </div>
  </div>

</div>
<div class="row w-100 m-0" id="suggestion-container" *ngIf="isMobile">
  <button class="col" id="desabafo">
    <i class="fal fa-frown mr-1"></i>
    TENHO UM DESABAFO!
  </button>
  <button class="col" id="sugestao">
    <i class="fal fa-lightbulb-on mr-1"></i>
    TENHO UMA SUGESTÃO!
  </button>
</div>

<div class="m-4 mb-0">
  <app-complex-search-input
    [debounceTime]="100"
    [defaultRule]="defaultRule"
    [hackings]="hackings()"
    (filterApplied)="filterApply($event)"
    ></app-complex-search-input>
</div>

<section>

  <div class="suggestion-card mt-0 text-center" *ngFor="let s of suggestions">
    <app-suggestion [suggestion]="s"></app-suggestion>
  </div>

</section>


<div (click)="isSelecting = !isSelecting" class="new-post clickeable" [matTooltip]="info.new" matTooltipShowDelay="300" matTooltipHideDelay="500" *ngIf="!isMobile">
  <i class="fal fa-plus-circle fa-2x"></i>
</div>

<div *ngIf="isSelecting && !isMobile" class="new-post-sugestao clickeable" [matTooltip]="info.suggestion" matTooltipShowDelay="300" matTooltipHideDelay="500">
  <i class="fa fa-lightbulb-on"></i>
</div>

<div *ngIf="isSelecting && !isMobile" class="new-post-desabafo clickeable" [matTooltip]="info.outflow" matTooltipShowDelay="300" matTooltipHideDelay="500">
  <i class="fal fa-frown"></i>
</div>
