<app-breadcrumb></app-breadcrumb>
<app-actions [buttons]="buttons" (clicked)="onClick($event)"></app-actions>

<div class="m-4 mb-0">
  <app-complex-search-input
    [debounceTime]="100"
    [defaultRule]="defaultRule"
    [hackings]="hackings()"
    (filterApplied)="filterApply($event)"
    ></app-complex-search-input>

    <mat-chip-list>
      <mat-chip *ngFor="let f of filters" [selectable]="true" [removable]="f.id !== 'topic'" (removed)="removeFilter(f)">
        {{ f.description }}
        <mat-icon matChipRemove *ngIf="f.id !== 'topic'">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
</div>

<section>

  <div class="suggestion-card mt-0 text-center" *ngFor="let s of suggestions">
    <app-suggestion [suggestion]="s"></app-suggestion>
  </div>

</section>

<!--
<div (click)="isSelecting = !isSelecting" class="new-post clickeable" [matTooltip]="info.new" matTooltipShowDelay="300" matTooltipHideDelay="500" *ngIf="!isMobile">
  <i class="fal fa-plus-circle fa-2x"></i>
</div>

<div *ngIf="isSelecting && !isMobile" (click)="openSuggestionModal()" class="new-post-sugestao clickeable" [matTooltip]="info.suggestion" matTooltipShowDelay="300" matTooltipHideDelay="500">
  <i class="fa fa-lightbulb-on"></i>
</div>

<div *ngIf="isSelecting && !isMobile" (click)="openOutflowDialog()" class="new-post-desabafo clickeable" [matTooltip]="info.outflow" matTooltipShowDelay="300" matTooltipHideDelay="500">
  <i class="fal fa-frown"></i>
</div> -->
