<section appScrollTracker (scrollEnd)="nextPage()">
<app-breadcrumb></app-breadcrumb>
<div class="buttons m-0 p-0">
  <app-actions [buttons]="buttons" (clicked)="onClick($event)"></app-actions>
</div>


<div class="container">
  <div class="row pt-4 pb-2">
    <div class="col-12">

        <app-complex-search-input
          [debounceTime]="100"
          [defaultRule]="defaultRule"
          [hackings]="hackings()"
          [rules]="filteringRules()"
          (filterApplied)="filterApply($event)"
          ></app-complex-search-input>

          <mat-chip-list>
            <mat-chip *ngFor="let f of filters" [selectable]="false" [removable]="f.id !== 'topic'" (removed)="removeFilter(f)">
              {{ f.description }}
              <mat-icon matChipRemove *ngIf="f.id !== 'topic'">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>

    </div>
  </div>


    <div>

      <div class="suggestion-card mt-0 text-center" *ngFor="let s of suggestions">
        <app-suggestion [suggestion]="s"></app-suggestion>
      </div>

    </div>

</div>


</section>
