/*
DEFAULT PROPERTIES
*/

#product-container {
  background-color: #E9ECEF;
  margin-bottom: 0;
}

#suggestion-container {
  margin-top: 0;;
  background-color: #F8F9FA;
  border: solid 1px #E7E7E7;

  button {
    border: solid 1px;
    border-radius: 5px;
  }

  #desabafo {
    background-color: #FAFAFA;
    border-color: #C7C7C7;
    color: #777777;
  }

  #sugestao {
    background-color: #1976D2;
    border-color: #1976D2;
    color: white;
  }
}

.orderBy {
  border: none;
  height: 90%;
  font-size: 16px;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 3px 10px 1px rgba(0, 0, 0, .2);
  width: 300px;
  text-align: left;
  padding-left: 30px;
  user-select: none;
}

/*
MOBILE SIZING
*/

@media (max-width: 767px) {

  .suggestion-card {
    margin: auto;
    margin: 5vw;
  }

  .orderBy {
    display: none;
  }

  #product-container span {
    font-size: 110%;
    margin: 2%;
  }

  #suggestion-container {

    button {
      width: 100%;
      min-height: 30px;
      margin: 13px;
    }

    #desabafo {
      margin-right: 6px;
    }

    #sugestao {
      margin-left: 6px;
    }

  }

}

/*
DESKTOP SIZING
*/

@media (min-width: 768px) {

  .suggestion-card {
    margin: 1vh 8% 0 8%;
  }

  #product-container span {
    font-size: 110%;
    margin: 2vh;
  }

  #suggestion-container {

    button {
      width: 100%;
      min-height: 50px;
      margin: 18px;
    }

    #desabafo {
      background-color: white;
      margin-right: 9px;
    }

    #sugestao {
      margin-left: 9px;
    }

  }

}
