<h1 mat-dialog-title><i class="fal fa-lightbulb-on text-info mr-4"></i>Sua sugestão é sempre bem vinda!</h1>
<div mat-dialog-content>

  <strong [ngClass]="errorLabel.title">Título:</strong>
  <br>
  <input type="text" placeholder="Escreva aqui..." [(ngModel)]="title" maxlength="40" [ngClass]="errorBorder.title">
  <span class="text-right">{{ title.length }} / 40</span>

  <strong [ngClass]="errorLabel.improvement">Sugestão de melhoria:</strong>
  <span>Descreva como podemos melhorar sua experiência no aplicativo</span>
  <br>
  <textarea placeholder="Escreva aqui..." [(ngModel)]="improvement" maxlength="140" [ngClass]="errorBorder.improvement"></textarea>
  <span class="text-right">{{ improvement.length }} / 140</span>

  <br>

  <strong [ngClass]="errorLabel.problem">Problema a ser resolvido:</strong>
  <span>Descreva como a sua sugestão pode nos ajudar a resolver um problema existente.</span>
  <br>
  <textarea placeholder="Escreva aqui..." [(ngModel)]="problem" maxlength="140" [ngClass]="errorBorder.problem"></textarea>
  <span class="text-right">{{ problem.length }} / 140</span>

  <br><br>

  <app-emote question="Você acha que esta solução pode nos ajudar a diminuir o suporte?" (evaluation)="diminuicaoSuporte = $event"></app-emote>

  <br><br>

  <app-emote question="Você acha que esta solução pode ajudar a automatizar algum processo?" (evaluation)="automacaoProcesso = $event"></app-emote>

  <br><br>

  <app-emote question="Você acha que esta sugestão pode lhe ajudar a aumentar a produtividade?" (evaluation)="aumentoProdutividade = $event"></app-emote>


</div>
<div mat-dialog-actions class="d-block">
  <div class="row w-100 m-0">
    <span class="labelred">{{ errorText() }}</span>
  </div>
  <button mat-button (click)="submit()" class="btn btn-primary float-right">Enviar</button>
  <button mat-button (click)="onNoClick()" class="btn btn-secondary float-right">Cancelar</button>
</div>
