<div class="card p-2">

  <div class="row w-100 m-0">
    <div class="col-2 p-0">
      <!-- Substituir pela imagem oficial -->
      <img src="../../../../assets/icons/icon-72x72.png">
    </div>
    <div class="col p-0 pl-2 text-left">
      <span class="name">{{ name }}</span>
      <span class="hour">{{ hour }}</span>
    </div>
  </div>

  <div class="useless class mt-3" *ngIf="!isSelected; else complete">
    <strong>{{ title }}</strong>
    <br>
    <span class="content">{{ content }}</span>
    <div class="m-3 mb-4 mt-4 text-left tags-area">
      <app-tag [tags]="suggestion.tags"></app-tag>
    </div>
  </div>

  <ng-template #complete>
    <div class="mt-3">

      <p>{{ suggestion.titulo }}</p>

      <div class="text-left mt-3">
        <strong>Problema a ser Resolvido:</strong>
        <br>
        <span>{{ suggestion.problema }}</span>
        <br><br>

        <strong>Sugestão de Melhoria:</strong>
        <br>
        <span>{{ suggestion.sugestaoMelhoria }}</span>
        <br><br>

        <strong>Resultado esperado:</strong>
        <br>
        <span>{{ suggestion.resultadoEsperado }}</span>
        <br><br>

        <div class="ml-3">
          <strong *ngIf="suggestion.tags.length">Tags:</strong>
          <app-tag [tags]="suggestion.tags"></app-tag>
        </div>
      </div>

    </div>
  </ng-template>

  <a class="text-info clickeable" (click)="isSelected = !isSelected">{{ button }}</a>

  <div class="comments-area p-4" *ngIf="visibleComments">
    <div class="comment" *ngFor="let com of comments">
      <strong>{{ com.userId }}</strong>
      <br>
      <span>{{ com.comment }}</span>
      <br><br><br>
    </div>

    <button mat-button class="load-more" (click)="nextPage()">Carregar mais</button>

  </div>

  <div class="row w-100 m-0 mb-3 mt-4" *ngIf="isMobile; else desktopbuttons">
    <div (click)="visibleComments = !visibleComments" class="comments clickeable" matTooltip="Ver comentários" matTooltipShowDelay="300" matTooltipHideDelay="500"><i class="fa fa-comment-alt-lines mr-2"></i>{{ suggestion.comments }}</div>
    <div class="likes clickeable" (click)="openDialog()" matTooltip="Marcar como gostei" matTooltipShowDelay="300" matTooltipHideDelay="500"><i class="fa fa-heart mr-2"></i>{{ suggestion.likes }}</div>
    <div class="dislikes clickeable" matTooltip="Marcar como não gostei" matTooltipShowDelay="300" matTooltipHideDelay="500"><i class="fa fa-heart-broken mr-2"></i>{{ suggestion.dislikes }}</div>
  </div>

  <ng-template #desktopbuttons>
    <div class="row w-100 m-0 mb-3 mt-4">
      <div class="col-3"></div>
      <div class="col-6">
        <div (click)="visibleComments = !visibleComments" class="comments clickeable action-button" matTooltip="Ver comentários" matTooltipShowDelay="300" matTooltipHideDelay="500"><i class="fa fa-comment-alt-lines mr-2"></i>{{ suggestion.comments }}</div>
        <div class="likes clickeable action-button" (click)="openDialog()" matTooltip="Marcar como gostei" matTooltipShowDelay="300" matTooltipHideDelay="500"><i class="fa fa-heart mr-2"></i>{{ suggestion.likes }}</div>
        <div class="dislikes clickeable action-button" matTooltip="Marcar como não gostei" matTooltipShowDelay="300" matTooltipHideDelay="500"><i class="fa fa-heart-broken mr-2"></i>{{ suggestion.dislikes }}</div>
      </div>
      <div class="col-3"></div>
    </div>
  </ng-template>

</div>
